{% load static %}

<section class="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="owl-service-item owl-carousel">
          <div class="item">
            <div class="icon">
              <img src="{% static 'assets/images/service-icon-01.png' %}" alt="Best Education Icon">
            </div>
            <div class="down-content">
              <h4>Best Education</h4>
                <p>Our curriculum empowers students through experiential learning supported by advanced educational technology.</p>
            </div>
          </div>
          <div class="item">
            <div class="icon">
              <img src="{% static 'assets/images/service-icon-02.png' %}" alt="Best Teachers Icon">
            </div>
            <div class="down-content">
              <h4>Best Teachers</h4>
              <p>Our faculty combines academic excellence with real-world expertise, bringing cutting-edge insights and a passion for teaching to the classroom.</p>
            </div>
          </div>
          <div class="item">
            <div class="icon">
              <img src="{% static 'assets/images/service-icon-03.png' %}" alt="Best Students Icon">
            </div>
            <div class="down-content">
              <h4>Best Students</h4>
              <p>At Edu Meeting, we pride ourselves on nurturing the next generation of leaders, thinkers, and innovators, equipped to thrive in a global environment.</p>
            </div>
          </div>
          <div class="item">
            <div class="icon">
              <img src="{% static 'assets/images/service-icon-02.png' %}" alt="Online Meeting Icon">
            </div>
            <div the="down-content">
              <h4>Online Meeting</h4>
              <p>Connect and collaborate no matter where you are with our seamless online meeting platforms, designed for both educational and professional growth.</p>
            </div>
          </div>
          <div class="item">
            <div class="icon">
              <img src="{% static 'assets/images/service-icon-03.png' %}" alt="Best Networking Icon">
            </div>
            <div class="down-content">
              <h4>Best Networking</h4>
              <p>Build invaluable connections within an extensive network of professionals and alumni that can open doors to countless opportunities.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
