{% load static %}

<!DOCTYPE html>
<html lang="en">

{% include 'mainpage/partials/_head.html' %}

<body>

{% include 'mainpage/partials/_subheader.html' %}
{% include 'mainpage/partials/_headerarea.html' %}
{% include 'mainpage/partials/_bannerarea.html' %}
{% include 'mainpage/partials/_services.html' %}
{% include 'mainpage/partials/_upcoming-meetings.html' %}
{% include 'mainpage/partials/_apply-now.html' %}
{% include 'mainpage/partials/_our-courses.html' %}
{% include 'mainpage/partials/_our-facts.html' %}
{% include 'mainpage/partials/_contact-us.html' %}


  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->

{% include 'mainpage/partials/_script.html' %}


</body>
</html>